@import '_variables.scss';
@import '_mixins.scss';
*{
    font-family: 'Roboto', sans-serif;
    text-decoration: none!important;
}
h1,h2,h3{
    margin: 0;
}
p{
    margin: 0;
}
.container-my{
    max-width: 1140px;
}
.header{
    position: relative;
    &__nav{
        height: 50px;
        background-color: #212121;
        position: fixed;
        width: 100%; 
    }
    &__subheader{
        position: absolute;
        width: 100%;
        top: 50px;
        min-height: 84px;
        background-color: rgba(0,0,0, .6);
    }
    &__logo{
        display: flex;
        margin-top: 16px;
        max-width: 100%;
    }
    &__logo-text{
        letter-spacing: 1.95px;;
        text-transform: uppercase;
        margin-left: 9px;
        @include text($whiteTextColor, 26px, normal);
    }
    &__logo-descr{
        @include text(rgba(255, 255, 255, 0.5), 13px, 100);
    }
    &__call-us-small-text{
        margin-top: 20px;
        text-align: right;
        @include text($whiteTextColor, 12px, 300);
    }
    &__phone{
        display: block;
        @include text($whiteTextColor, 22px, normal);
        text-align: right;
        line-height: 22px;
        margin-top: 3px;
        &:hover{
            color: #ccc;
        }
    }
    &__btn-wrap{
        margin-top: 27px;
    }
}
.menu{
    display: flex;
    justify-content: space-between;
    padding: 10px 70px;
    margin: 0;
    &__item{
        list-style-type: none;
        border-right: 2px dotted black;
        padding-right: 30px;
        &:last-child{
            border-right: none;
            padding-right: 0;
        }
    }
    &__link{
        @include text($whiteTextColor, 15px, 300);
        text-decoration: none;
        padding: 10px 0;
    }
}
.btn{
    box-shadow: inset 0px -3px 0 0 rgba(0, 0, 0, 0.12);
    background-image: linear-gradient(to top, #1eacc7, #4ce2ff);
    @include text($whiteTextColor, 14px, normal);
    padding: 15px 15px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    
    &:active{
        box-shadow: none;
    }
    &:hover{
        background-image: linear-gradient(to top, #249eb6, #4ce2ff);
        color: $whiteTextColor;
    }
}
.promo{
    background-image: url(../img/promo_bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 800px;
    padding-top: 218px;
    text-align: center;
    &__heading-big{
        @include text($whiteTextColor, 60px, 900);
        line-height: 45px; 
    }
    &__heading-small{
        @include text($whiteTextColor, 36px, bold);
        line-height: 25px;
        margin-top: 24px;
    }
    &__text{
        @include text($whiteTextColor, 18px, normal);
        line-height: 1.33;
        margin-top: 23px;
    }
    &__btn{
        font-size: 18px;
        padding: 25px 39px;
    }
    &__btn-warp{
        margin-top: 118px;
    }
}
.reasons{
    padding-top: 71px;
    padding-bottom: 68px;
    text-align: center;
    &__item{
        padding-left: 36px;
        padding-right: 46px;
    }
    &__section-descr{
        @include text($whiteTextColor, 11px, 100);
        padding: 8px 11px;
        background-color: #000;
        display: inline;
    }
    &__heading{
        @include headingH2;
    }
    &__wrap{
        margin-top: 35px;
    }
    &__item{
        display: flex;
        align-items: center;
    }
    &__item-icon-wrap{
        background-color: #1eacc7;
        width: 113px;
        height: 113px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__item-descr{
        width: 341px;
        text-align: left;
        margin-left: 26px;
        min-height: 142px;
    }
    &__item-descr-heading{
        @include text($siteColorBlue, 17px, normal);
    }
    &__item-descr-text{
        @include text(#202020, 15px, 300);
        line-height: 1.4;
        margin-top: 5px;
    }
}
